.favoritesBlock {

  .favoritesContainer {
    display: flex;
  
    .productList {
      flex-basis: 70%;
    }
  
    .summary {
      flex-basis: 30%;
      padding-left: 70px;
    }
  }
}

@media screen and (max-width: 1350px) {
  .favoritesBlock {

    .favoritesContainer {
      display: block;

      .summary {
        padding-left: 0;
      }
    }
  }
}

@media screen and (max-width: 699px) {
  .favoritesBlock {

    .favoritesContainer {

      .summary {

        div {

          a {
            font-size: 16px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}