.multiRangeSliderInputs {

	.multiRangeSliderContainer {
		margin-bottom: 10px;
	}

	.rangeFields {
		display: flex;
	
		.rangeFieldsContainer {
			width: 50%;
			display: flex;
			border: 1px solid #bcbcbc;

			.from, .to {
				display: flex;
				align-items: center;
				padding-left: 7px;
			}

			&.left {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-right: none;
			}

			&.right {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}

			.rangeFieldsInput {

				input {
					width: 100%;
					padding: 7px 0 7px 7px;
					border: none;
					font-size: 14px;
				}
			}
		}
	}
}

@media screen and (max-width: 1023px) {
	.multiRangeSliderInputs {

		.multiRangeSliderContainer {
			margin-bottom: 25px;
		}

		.rangeFields {

			.rangeFieldsContainer {

				.rangeFieldsInput {

					input {
						font-size: 16px;
					}
				}				
			}
		}
	}
}
