h3 {
  margin-bottom: 30px;
}

.form {
  width: 600px;
  
  form {

    .inputGroup {
      margin-bottom: 30px;

      label {
        display: block;
        margin-bottom: 10px;
        font-weight: 500;
      }
  
      input, textarea, select {
        display: block;
        width: 100%;
        padding: 7px;
        border: 1px solid #000;
        border-radius: 5px;
        font-size: 14px;
  
        &.borderRed {
          border-color: #ed3636;
        }
      }

      select {

        option {
          padding: 7px;
        }
      }

      &.productImages,
      &.shortDesc {
        
        textarea {
          height: 105px;
        }
      }

      &.description {

        textarea {
          height: 200px;
        }
      }
  
      .errorMsg {
        margin-top: 10px;
        color: #ed3636;
      }
    }

    button {
      font-size: 14px;
      padding: 7px 15px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      border-radius: 5px;

      &.disabled {
        opacity: 0.5;
        cursor: default;
      }
      
      &.submit {
        background-color: #2d7dff;
        border-style: none;
        color: #fff;
        margin-right: 25px;

        &:hover {
          background-color: #5c9aff;
        }

        &.disabled {
  
          &:hover {
            background-color: #2d7dff;
          }
        }
      }

      &.cancel {
        background-color: #fff;
        border: 1px solid #2d7dff;
        color: #2d7dff;

        &:hover {
          color: #5c9aff;
          border-color: #5c9aff;
        }
      }
    }
  }
}