.overlay {
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 500ms ease-in-out;

  .popup {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    width: 300px;
    position: relative;
    transition: all 500ms ease-in-out;

    h3 {
      margin-bottom: 20px;
    }

    .close {
      display: inline-block;
      position: absolute;
      top: 17px;
      right: 20px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;
    }
    
    .content {

    }
  }
}

@media screen and (max-width: 699px) {
  .overlay {

    .popup {
      width: 70%;
    }
  }
}