.footerContainer {
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  width: 100%;
  bottom: 0;

  .footerRow {
    display: flex;

    &:nth-of-type(2) {
      justify-content: center;
    }
  }

  .footerLinks {
    margin-bottom: 10px;
  }

  .forClients, .aboutCompany {
    margin-right: 30px;
  }

  .forClients h6, .aboutCompany h6, .followUs h6 {
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 699px) {
  .footerContainer {

    .footerRow {
      
      div {
        font-size: 16px;
      }
    }
  }
}