.button-container {
  display: flex;
}

.button-container_jcc {
  justify-content: center;
}

.button {
  display: inline-block;
  font-size: 14px;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.button_db {
  display: block;
  margin-bottom: 20px;
}

.button_dib {
  display: inline-block;
}

.button_solid {
  background-color: #2d7dff;
  border-style: none;
}

.button_solid:hover {
  background-color: #5c9aff;
}

.button__icon,
.button__text {
  display: inline-block;
}

.button__icon_solid i,
.button__text_solid {
  color: #fff;
}

.button__icon {
  margin-right: 7px;
}

.button_outlined {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

.button_outlined:hover {
  color: #2d7dff;
  border-color: #2d7dff;
}
