.collapseDiv {
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
  padding-right: 20px;

  i {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.collapseContent {
  margin-bottom: 25px;

  &.collapsed {
    display: none;
  }

  &.expanded {
    display: block;
  }
}

@media screen and (max-width: 699px) {
  .collapseDiv {
    margin-bottom: 25px;

    h5, i {
      font-size: 16px;
    }
  }

  .collapseContent {
    margin-bottom: 35px;
  }
}