.filtersContainer {
  max-width: 250px;

  .filterScreenSize {

    .filterRangeFields {
      margin-bottom: 15px;
    }
  }

  .filterNumberOfCores {
    > div:nth-of-type(2) {
      > div {
        overflow-y: visible;
      }
    }
  }
}

@media screen and (max-width: 699px) {
  .filtersContainer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;
  }
}