.paginationContainer {
  display: flex;
  list-style-type: none;

  .paginationItem {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: #000;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01em;
    border-radius: 16px;
    font-size: 16px;
    min-width: 32px;
    transition: background-color 0.2s ease-in-out;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }

    &:hover {
      background-color: #2d7dff;
      cursor: pointer;
    }

    &.selected {
      background-color: #8ab7ff;
      &:hover {
        background-color: #2d7dff;
      }
    }

    .arrow {
      &::before {
        font: var(--fa-font-solid);
      }

      &.left::before {
        content: "\f053";
      }

      &.right::before {
        content: "\f054";
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        color: #a7a7a7;
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
