.header {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 61px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 4;

  .headerInner {
    width: 1119px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 160px;
  
      a {
        display: flex;
        align-items: center;
  
        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 699px) {
  .header {
    display: block;
    height: auto;
    padding: 11px 20px 0;

    .headerInner {
      width: 100%;
      display: block;

      .logo {
        width: 190px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 700px) and (max-width: 1199px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;

    .headerInner {

      .logo {
        width: 120px;
      }
    }
  }
}
